version: '3.1'

services:
  db:
    image: mysql:8.0.22
    container_name: mysql
    ports:
      - "3306:3306"   
    environment:
      MYSQL_USER: Speedware
      MYSQL_PASSWORD: gvendas
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: speedware_db




  


